@import 'header';
@import 'section';
@import 'colors';
@import 'footer';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Ubuntu', sans-serif;
   color: white;
}

body {
    background-color: #15212C;
}

h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 64px;
}

h4 {
    font-size: 36px;
    font-weight: 500;
    line-height: 41px;
    color: $green;
    margin-bottom: 11px;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: $green;
    margin-bottom: 20px;
}